/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* flex-propriety */
/* font-size */
/* font-family */
/* colors */
/* paddings */
/* mixins */
body {
  font-size: 30px;
}

/* background-lines */
/* grid */
.container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 15% 70% 15%;
  gap: 0px 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container > * {
  overflow: hidden;
}

.flag {
  grid-area: 1/1/2/2;
  background-color: green;
}

.title1 {
  grid-area: 1/6/2/7;
}

.title2 {
  grid-area: 3/6/4/7;
}

.block-top-1 {
  grid-area: 1/7/2/9;
}

.block-top-2 {
  grid-area: 1/8/2/10;
}

.block-top-3 {
  grid-area: 1 / 9 / 2 / 11;
}

.blocks-top {
  grid-area: 1/7/2/10;
}

.block-btm-1 {
  grid-area: 3/8/4/9;
}

.block-btm-2 {
  grid-area: 3/9/4/10;
}

.block-btm-3 {
  grid-area: 3/10/4/11;
}

.blocks-btm {
  grid-area: 3/7/4/10;
}

.block-lang-pt {
  grid-area: 3/1/4/2;
}

.block-lang-en {
  grid-area: 3/2/4/3;
}

.main-content {
  grid-area: 2/1/3/11;
}
.main-content__wrapper {
  width: 100vw;
  height: 70vh;
  overflow: auto;
  display: flex;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.main-content__title-section {
  width: calc(50vw - 15px);
  flex: none;
  align-self: center;
  padding-left: 15px;
}
.main-content__title-section__title {
  font-family: "Panchang Variable";
  font-size: 3rem;
  font-weight: 900;
  font-style: none;
  color: white;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 3px 3px 0 #000, 1px 1px 0 #000;
}
.main-content__title-section__subtitle {
  font-family: "Switzer Variable";
  font-size: 1rem;
  font-weight: 400;
  font-style: none;
  color: black;
}
.main-content__image-section {
  width: 90vw;
  flex: none;
}
.main-content__text-section {
  width: 50vw;
  flex: none;
}

/* blocks */
div[class*=block-] {
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
}

.block-btm__year {
  font-family: "Boska Variable";
  font-size: 0.85rem;
  font-weight: 400;
  font-style: italic;
  color: black;
}
.block-btm__title {
  font-family: "Switzer Variable";
  font-size: 1.15rem;
  font-weight: 600;
  font-style: none;
  color: black;
}
.block-btm__arrow img {
  width: 20px;
}

.block-top__title {
  font-family: "Switzer Variable";
  font-size: 1rem;
  font-weight: 400;
  font-style: none;
  color: black;
}

.block-link {
  text-decoration: none;
  color: inherit;
}
/* section titles */
.section-title {
  font-family: "Panchang Variable";
  font-size: 1.15rem;
  font-weight: 900;
  font-style: none;
  color: black;
}

/* background-lines */
.column-lines-container {
  z-index: -100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  gap: 0px 0px;
}

.bg-lines-column:not(:last-child) {
  border-right: 1px solid #eee;
  height: 100%;
}

.row-lines-container {
  z-index: -100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  gap: 0px 0px;
}

.bg-lines-row:not(:last-child) {
  border-bottom: 1px solid #eee;
  height: 100%;
}

.column-lines-container, .row-lines-container {
  z-index: -1000;
}

/* background-image */
.bg-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1000;
}
